.container {
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.5rem 0 1.5rem;
}

.loginContainer {
  width: 40%;
  height: 100%;
  margin-bottom: 7rem;
}
.loginContainer h1 {
  font-size: 62px;
  margin-bottom: 3rem;
  font-weight: 800;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputGroup label {
  font-size: 28px;
  font-weight: 700;
}
.inputGroup input {
  border: none;
  min-height: 72px;
  background-color: white;
  font-size: 20px;
  border-radius: 16px;
  outline: none;
  padding: 0 1rem 0 1rem;
}

.loginBtn{
  background-color: #008560;
  width: 225px;
  height: 81px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadBtn{
  background-color: #008560;
  width: 243px;
  height: 81px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  gap: 15px;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.imageContainer {
  position: right;
  width: 50%;
}

.imgDiv {
  width: 711px;
  height: 762px;
}

.gap{
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.forgotPassword{
  margin-bottom: 1.5rem;
  color: #008560;
  font-weight: 600;
  font-size: 20px;
}