.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 50%;
  align-self: center;
}
.cardList{
  padding: 10% 0 10% 0;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
}
.card{
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  min-height: 25rem;
  min-width: 22rem;
  
  font-size: 1.5rem;
  font-weight: 800;
}
.card svg {
  margin: 2rem 0 2rem 0;
}