.vertical-list {
  display: flex;
  flex-direction: column;
}

.aluno-button {
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.aluno-button.active {
  background-color: #f0f0f0; /* Cor de fundo quando selecionado */
}
