.page{
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.every{
  max-width: 1512px;
  background-color: #F4F4F4;
}

.container{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.spaced{
  justify-content: space-between;
}

.reserse{
  flex-flow: row-reverse;
  background-color: blueviolet;
}
.descricao{
  font-size: 24px;
  font-weight: 600;
  margin-right: 40px;
}
.loginBtn{
  background-color: #008560;
  width: 225px;
  height: 81px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadBtn{
  background-color: #008560;
  width: 243px;
  height: 81px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer{
  
}

.imgDiv {
  width: 711px;
  height: 762px;
}
.flex{
  display: flex;
  gap: 50px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}