.page{
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.every{
  max-width: 1512px;
  background-color: whitesmoke;
}

.container{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.spaced{
  justify-content: space-between;
}

.reserse{
  flex-flow: row-reverse;
  background-color: blueviolet;
}

.infoContainer{
  
}

.imgDiv {
}
