.page{
  display: flex;
  justify-content: center;
}

.every{
  background-color: #F4F4F4;
}

.container{
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 32px;
}
.containerCards{
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
.containerCards img{
  max-width: 25rem;
}

.bordas{
  border-radius: 40px;
}

.spaced{
  justify-content: space-between;
}

.reverse{
  flex-flow: row-reverse;
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 32px;
  margin: 2rem 0 -15rem 0;
}
.descricao{
  font-size: 24px;
  font-weight: 600;
  margin-right: 40px;
}
.loginBtn{
  background-color: #008560;
  width: 225px;
  height: 81px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadBtn{
  background-color: #008560;
  width: 243px;
  height: 81px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer{
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.imgDiv img{
  width: 711px;
  height: 762px;
}

.flexDisplay{
  display: flex;
}
.svgDiv{
  background-color:#65DBAD ;
  height: 20px;
}

.flex{
  display: flex;
  gap: 50px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.gapLeft{
  margin: 0 2rem 0 0;
}

.gapRight{
  margin: 0 0 0 2rem;
}

.imagemPet1 img{
  width: 50rem;
}
.imagemPet2 img{
  width: 50rem;
}

.headerAll{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  color: #005C42;
  font-weight: 800;
  font-size: 13px;
  padding: 0 20px 0 20px;
  min-height: 66px;
}
.flexHeader {
  align-items: center;
  display: flex;
  gap: 30px;
}
.logo{
  align-items: center;
  display: flex;
}